<div class="reverseUnoCard">
  {{#each myInstances as |myInstance|}}
      <li>
        {{myInstance.name}}<p>{{myInstance.description}}</p>
        <img src="{{myInstance.url}}">
        <div>
          <img id="icon" src="https://cdn-icons.flaticon.com/png/512/707/premium/707680.png?token=exp=1645960024~hmac=2a305d627ea1bb3228574e546e7d1527" onclick="this.src=`https://cdn-icons-png.flaticon.com/512/833/833472.png`">
        </div>
        <form action="/edit/{{ myInstance.id }}">
            <input type="submit" value="Edit" />
        </form>
      </li>
  {{/each}}
</div>
