<div class="reverseUnoCard">
  {{#each myInstances as |myInstance|}}
      <li>
        {{myInstance.name}}<p>{{myInstance.description}}</p>
        <img src="{{myInstance.url}}">
        <div>
          <img id="icon" src="/images/emptyLike.png" onclick="this.src='/images/fullLike.png'">
        </div>
        <form action="/edit/{{ myInstance.id }}">
            <input type="submit" value="Edit" />
        </form>
      </li>
  {{/each}}
</div>
