<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>The Daily Meme</title>
</head>
<body>
  <header>
      <h1>The Daily Meme</h1>
  </header>
  <nav>
      <a class="navigation" href="/">Home</a>
      <a class="navigation" href="/topics">Topics</a>
      <a class="navigation" href="/postmeme">Post</a>
      <a class="navigation" href="https://github.com/wtsia/DailyMeme" target="_blank">Repo</a>
  </nav>
  {{{ body }}}
</body>
</html>