<form method="GET" action="/topics/{{ myInstances.topic }}">
    <input type="text" name="topic" value="{{ myInstances.topic }}">
    <input class="icon" type="submit" value="Search">
</form>

<h2>Topics of recent posts:</h2>
  {{#each myInstances as |myInstance|}}
    <li class="topicCard">
      <a href="/topics/{{ myInstance.topic }}">{{myInstance.topic}}</a>
    </li>
  {{/each}}